nav li{
    list-style: none;
    display:inline;
    margin-right: 15px;
    
}
nav li:hover{
    background-color:rebeccapurple;
    padding: 8px;

}
nav li a{
    text-decoration: none;
    color: green;
}
footer{
    text-align: center;
}